<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>SECRET SANTA APP</h1>
    <p> Type in the first name of your firends separant by spaces, and we will find the Secret Santa matches </p>

      <form>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" class="form-control" id="" placeholder="" name="type">
        </div>


        <button type="submit" class="btn btn-default">Submit</button>
      </form>


  </body>
</html>
