body {
  background: url(images/30493247-Old-vintage-cutting-board-abstract-food-background-Stock-Photo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
